@import url(Components/Base/reset.css);

body {
  font-family: 'Roboto',serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0,0.9);
}